* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(360deg, hsla(213, 70%, 13%, 1) 0%, hsla(192, 36%, 50%, 1) 100%);
}